$colorBlack: #131313;
$colorGrey: #ACB3B9;
$colorBlackButton: #383838;
$colorBlue: #0D7AD9;
$colorWhite: #fff;
$colorGreyBorder: #CDD2D7;
$maxWidth: 1440px;
$colorGreyText: #959DA3;
$colorGreyBackground: #F7F9FB;
