.header__section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    flex-direction: row;
    width: calc(547/692*100%);
    justify-content: space-between;
    column-gap: 16px;
}


@media screen and (max-width: 800px){
    .header__section{
        width: 100%;
        grid-template-columns: 1fr;
        gap: 16px;
    }
}