@media screen and (max-width: 800px){
    .card__list-item{
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
    }
}

@media screen and (max-width: 800px){
    .card__list-item{
        box-sizing: border-box;
        width: calc(248/320*100%);
    }
    
}