@import "../../../global/constants.scss";

.card__list{
    color: $colorBlack;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

@media screen and (max-width: 800px){
    .card__list{
        box-sizing: border-box;
    }
    
}