.list{
    margin: 0 auto;
    padding: 0;
    width: calc(1200/1440*100%);
    max-width: 1200px;
    padding-bottom: 104px;
}

@media screen and (max-width: 800px){
    .list{
        width: calc(288/320*100%);
        padding-bottom: 32px;
    }
}