.request__fieldset{
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    border: none;
    gap: 18px;
    padding: 0;
}

@media screen and (max-width: 800px) {
    .request__fieldset{
        gap: 16px;
        margin-top: 24px;
    }
    
}