.footer__text--small{
    font-size: 16px;
    font-weight: 400;
    line-height: 145%;
    text-align: end;
}

@media screen and (max-width: 800px){
    .footer__text--small{
        text-align: start;
        font-size: 14px;
        line-height: 140%;
    }
    
}