@import "../../../global/constants.scss";

.card__info-item-text{
    margin: 0;
    padding: 0;
    color: $colorBlack;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; 
}

@media screen and (max-width: 1180px){
    .card__info-item-text{
        font-size: 13px;
    }
    
}