@import "../../../global/constants.scss";

.request__textarea{
    display: flex;
    padding: 12px;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid $colorGreyBorder;
    background: $colorWhite;
    min-height: 88px;
    box-sizing: border-box;
    resize: none;
    width: 100%;
}

.request__textarea::placeholder{
    color: $colorGrey;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}