@import "../../../global/constants.scss";

.request__link{
    color: $colorBlue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-decoration: none;
    border-bottom: 1px solid  rgba($colorBlue, .2);
}