@import "../../../global/constants.scss";

.card__description{
    color: $colorBlack;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; 
    margin: 0;
    padding:  0;
}