@import "../../../global/constants.scss";

.request__title{
    color: $colorBlack;
    text-align: center;
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.34px;
    margin: 0;
    padding: 0;
}