@import "../../../global/constants.scss";

.request__title{
    color: $colorBlack;
    text-align: center;
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.34px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 800px){
    .request__title{
        font-size: 28px;
        line-height: 120%;
        letter-spacing: -0.28px;
        max-width: 288px;
        margin: 0 auto
    }
    
}