.request__form{
    display: flex;
    flex-direction: column;
    width: calc(590/1440*100%);
    max-width: 590px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 800px){
    .request__form{
        width: calc(288/320*100%);
        box-sizing: border-box;
    }
    
}